/*== [ Admin Staff Css  ] ==*/	  
	
/* [ page option ]  */
  
 
  
	h1.record_name{
	  font-weight:bold;
      font-size:1.3em;
      padding:8px 0;	  
	}

/* [ record list ]  */
    tr.data_record td{vertical-align:middle;}
	tr.data_record:nth-child(odd){ background-color:#f9f9f9; }
	tr.data_record td:nth-child(1){  text-align:center; width:20px; }
	tr.data_record td:nth-child(2){  width:150px;  }
	tr.data_record td:nth-child(3){  width:150px;  }
	tr.data_record td:nth-child(4){  width:90px; text-align:center;}
	tr.data_record td:nth-child(5){  min-width:200px;}
	tr.data_record td:nth-child(6){  width:100px;text-align:center; }
	tr.data_record td:nth-child(7){  width:100px;text-align:center; }
	tr.data_record td:nth-child(8){  width:60px; text-align:center; }
	
	tr._target td:nth-child(1){background-color:#84b9cb;color:#FFFFFF;}
	
    .pattern_input{width:100%;}
   
    

